name: GitHub Actions Demo
on:
  push:
    branches: 
      - 'main'
    paths-ignore: 
      - '.github/*'
  pull_request:
      branches: 
        - 'main'
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:
jobs:
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Event Related Data'
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.ref_name }}
      - uses: actions/checkout@v3.3.0
      - name: List files in the repository
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
